{% extends "base.html" %} 

{% block titulo %} Mi Blog {% endblock %} 

{% block contenido %} 
    {% for post in posts %} 
        {% if post.publicado %}
            <div class="card mb-3">
              <img
                src="{{ post.imagen_encabezado}}"
                class="card-img-top"
                alt="..."
                style="height: 40vh"
              />
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/{{post.id}}">
                        {{ post.titulo }}
                    </a>
                </h5>
                <div class="container-fluid p-0">
                  <img
                    src="{{ post.avatar }}"
                    alt=""
                    class="rounded-circle"
                    style="width: 3em"
                  />
                  <span><i>{{ post.autor }}</i></span>
                </div>
                <p class="card-text">{{ post.description_corta | safe }}</p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Publicado: {{ post.fecha_publicacion }}</small
                  >
                </p>
              </div>
            </div>
        {% endif %} 
    {% endfor %} 
{% endblock %}
