<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- Banner -->
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Mi Blog</h1>
        <p class="lead text-muted">Bienvenido a mi blog!</p>
      </div>
    </section>
    <!-- Fin Banner -->
    <div class="bg-light">
      <div class="container">{% block contenido %}{% endblock %}</div>
    </div>

    <!-- footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-muted">Mi super footer</span>
        </div>
    </footer>

    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
